<template name="home">
    <div class="container">
    <div class="jumbotron">
        <h1>gitlog gets logs from GitHub</h1>
        {{> loginButtons}}

        <label for="repo">Repo</label>
        <form role="form" class="form-inline">
            <div class="form-group">
                <select name="repo">
                {{#each repos}}
                    {{> repo}}
                {{/each}}
                </select>
            </div>
            <label for="from">From</label>
            <input type="date" name="from" required/>

            <label for="to">To</label>
            <input type="date" name="to" required/>

            <button class="btn btn-default loadDropdown">Load Repos</button>
            <button class="btn btn-default" type="submit">Fire!</button>
        </form>

        <ul>
        {{#each logs}}
            {{> log}}
        {{/each}}
        </ul>

    </div>
  </div>
</template>

<template name="log">
  <li>{{date}} - {{msg}}</li>
</template>

<template name="repo">
  <option value="{{url}}">{{name}}</option>
</template>